pip install namex>=0.0.8
pip install black>=22
pip install flake8
pip install isort
pip install pytest
pip install numpy
pip install scipy
pip install pandas
pip install absl-py
pip install requests
pip install h5py
pip install ml-dtypes
pip install protobuf
pip install google
pip install tensorboard-plugin-profile
pip install rich
pip install build
pip install optree
pip install pytest-cov
pip install packaging
pip install dm_tree
